<% if alert %>
  <div class="flex justify-center">
    <div class="alert alert-info shadow-lg text-center max-w-md mb-4">
      <i class="fas fa-exclamation-circle"></i>
      <span><%= alert %></span>
    </div>
  </div>
<% end %>
