<!-- app/views/qrcodes/show.html.erb -->
<% if @qr_code %>
  <h2>QR Code for <%= @student.name %></h2>
  <%= image_tag @qr_code.as_png(size: 300).to_data_url %>  <!-- This will render the QR code image -->
<% else %>
  <p>QR Code could not be generated.</p>
<% end %>
